@media screen and (max-width: 768px) {
    .container {
        display: block;
        background-image: none;
    }

    .container__imagem {
        width: 50vw;
    }

    .container__caixa {
        margin: 5rem 2rem;
    }

    .secondary {
        text-align: center;
        margin: -5rem 0;
    }

    .secondary__imagem {
        width: 50vw;
    }

    .imagem--telas {
        text-align: center;
    }

    .dispositivos__lista {
        display: block;
    }

    .rodape__lista {
        display: block;
    }
}