@media screen and (max-width: 768px) {
    .container {
        display: block;
        background-image: none;
        text-align: center;
    }

    .container__imagem {
        width: 50vw;
    }

    .container__caixa {
        margin: 2rem 2rem;
    }

    .secondary__imagem {
        width: 50vw;
    }
}