@media (max-width: 72rem ) {
    body {
        background-color: rgb(43, 43, 66);
    }

    .cabecalho {
        padding: 10%;    
    }

    .cabecalho-menu {
        justify-content: center;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao-imagem {
        margin-bottom: 1.5rem;
    }

    .apresentacao-conteudo {
        width: auto;
    }

    .apresentacao-links-sociais {
        margin-bottom: 1rem;
        font-size: 1.25rem;
    }

    .apresentacao-links-sociais:hover {
        background-color: #3f3f50;
    }

    .rodape {
        color: #3f3f50;
    }

}