@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root {
    --color-bkg: #000;
    --color-text: #f6f6f6;
    --color-destaque: #22D4FD;
    --font1: 'Krona One', sans-serif;
    --font2: 'Montserrat', sans-serif;
    --margin: auto;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--color-text);
}

body {
    box-sizing: border-box;
    background-color: var(--color-bkg);
    color: var(--color-text);
}

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho-menu {
    display: flex;
    align-items: center;
    gap: 80px;
}

.cabecalho-menu-link {
    font-family: var(--font2);
    font-size: 24px;
    font-weight: 600;
    color: var(--color-destaque);
} 


.titulo-destaque {
    color: var(--color-destaque);
}

.apresentacao {
    padding: 4% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.apresentacao-conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao-conteudo-titulo {
    font-size: 36px;
    font-family: var(--font1);

}

.apresentacao-conteudo-texto {
    font-size: 24px;
    font-family: var(--font2);
}

.apresentacao-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.apresentacao-link-subtitulo {
    font-family: var(--font1);
    font-weight: 400;
    font-size: 24px;
}

.apresentacao-links-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    border: 2px solid var(--color-destaque);
    width: 378px;
    text-align: center;
    border-radius: 0.5rem;
    font-size: 24px;
    padding: 21.5px 0;
    color: var(--color-text);
    text-decoration: none;
    font-family: var(--font2);
    font-weight: bold;
}

.apresentacao-links-link:hover {
    background-color: #272727;
}

.rodape {
    background-color: var(--color-destaque);
    color: var(--color-bkg);
    text-align: center;
    padding: 2rem;
    font-family: var(--font2);
    font-size: 24px;
    font-weight: 600;
}