* {
    margin: 0;
    padding: 0;
    color: #fff;
}

body {
    box-sizing: border-box;
    height: 100vh;
    background-color: #000;
    color: #fff;
}

.titulo-destaque {
    color: #22D4FD;
}

.apresentacao {
    display: flex;
    align-items: center;
}