* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

body {
    box-sizing: border-box;
    height: 100vh;
    background-color: #000;
    color: #fff;
}

.titulo-destaque {
    color: #22D4FD;
}

.apresentacao {
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao-conteudo {
    width: 615px;
}

.apresentacao-conteudo-titulo {
    font-size: 36px;
}

.apresentacao-conteudo-paragrafo {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}