@media (max-width: 72rem ) {
    body {
        background-color: var(--color-bkg);
    }

    .cabecalho {
        padding: 5%;    
    }

    .cabecalho-menu {
        justify-content: center;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
        height: 90%;
    }

    .apresentacao-link-subtitulo {
        margin: 0.75rem 0;
    }

    .apresentacao-imagem {
        margin-bottom: 1.5rem;
        width: 60%;
    }

    .apresentacao-conteudo {
        width: auto;
    }

    .apresentacao-links-sociais {
        margin-bottom: 1rem;
        font-size: 1.05rem;
    }

    .apresentacao-links-sociais:hover {
        background-color: #272727;
    }

    .rodape {
        padding: 5%;
    }

}